
I am the question info handlebars

<p>
  <p>{{title}}</p>
  <p>({{content}})</p>
  <br>
  <br>
    {{user.username}} on {{format_date created_at}}
    |

    <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
</p>
<<<<<<< HEAD
=======

>>>>>>> 94d3d3eaad8c8b570651d279394a5a541cec4b83
