
<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong class="has-text-white">Arya</strong>
                <br>
                Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet
                        magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                <br>
            </p>
        </div>
    </div>
</article>

{{!-- <p>
  <p>{{title}}</p>
  <p>({{content}})</p>
  <br>
  <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
  <br>
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
</p> --}}