
I am the question info handlebars

<p>
  <p>{{title}}</p>
  <p>({{content}})</p>
  <br>
  <br>
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/question/{{id}}">{{format_plural "answer" answers.length}}</a>
</p>
