<article class="question">
  <div class="title">
    <a href="/dashboard/questions/{{id}}" class="lead text-white">{{title}}</a>
    <span>({{content}})</span>
  </div>
  <div class="meta">
    {{user}} {{user_id}}
 {{user.username}} on {{format_date created_at}}
  |
    <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
  </div>
</article>