<div class="card mb-6">
  <header class="card-header card-header-title grey-light  ">
 <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content grey-dark">
        <div class="content has-text-justified">
            {{content}}
        </div>
            <div class="is-pulled-right">
                <b>{{user.username}}</b> | 
                 | {{format_date created_at}} | <a href="/question/{{id}}">{{questions.length}} {{format_plural "question" questions.length}}</a>
            </div>
        
    </div>