<div class="column has-background-white is-vcentered question-container">
  <article class="post">
    <a href="/dashboard/question/{{id}}" class="lead has-text-dark has-text-weight-semibold">{{title}}</a>
    <div class="media">
      <div class="media-content">
        <div class="content">
          <p class="has-text-dark is-pulled-right">{{user.username}} | <small
              class="has-text-dark">{{format_date created_at}}</small></p>
        </div>
        {{content}}
      </div>
