
<div class="has-background-white column justify-content-between ">
<article class="list-group">
    <div class="list-group-item d-flex justify-content-between align-items-center bg-dark">
        <a href="/dashboard/post/{{id}}" class="lead text-white">{{title}}</a>
        <span class="post-meta text-white">Posted by {{user.username}} on {{format_date created_at}}</span>
    </div>
    {{content}}
</article>

<article class="column data-content">

  {{#each questions as |question|}}
  {{> question-info question}}

  {{/each}}

</article>

