
   <div class="column">
      <span class=""> </span>
      </div>
    
  </header>

    <div class="card-content has-background-primary-dark">
        <div class="content has-text-white">
            {{content}}
        </div>
            <div class="is-pulled-right">
                <b>{{user.username}}</b> | 
                 | {{format_date created_at}} | <a href="/post/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
            </div>
        
    </div>

{{!-- <p>
  <p>{{title}}</p>
  <p>({{content}})</p>
  <br>
  <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
  <br>
    {{user.username}} on {{format_date created_at}}
    |
    <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
</p> --}}