<article class="question">
    <div class="title">
        <a href="{{question}}" target="_blank">{{title}}</a>
        <span>({{question}})</span>
    </div>
    <div class="meta">
        {{thumbsup_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/question/{{id}}">{{answers.length}} answer(s)</a>
    </div>
</article>