
{{#if loggedIn}}

<article class="media">
    <div class="media-content">
        <div class="content">
            <p>
                <strong class="has-text-white">Question Title</strong>
                <br>
                Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet
                magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                <br>
                <small><a>Like</a> · <a href="/dashboard/add">Reply</a> · 2 hrs</small>
            </p>
        </div>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">Question Title</strong>
                        <br>
                        Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet
                        magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                        <br>

                        <small><a>Like</a> · <a href="/dashboard/add">Reply</a> · 2 hrs</small>

                    </p>
                </div>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">Question Title</strong>
                        <br>
                        Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet
                        magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                        <br>

                        <small><a>Like</a> · <a href="">Reply</a> · 2 hrs</small>

                    </p>
                </div>
            </div>
        </article>

        <article class="media">
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong class="has-text-white">Question Title</strong>
                        <br>
                        Sed convallis scelerisque mauris, non pulvinar nunc mattis vel. Maecenas varius felis sit amet
                        magna vestibulum euismod malesuada cursus libero. Vestibulum ante ipsum primis in faucibus orci
                        luctus et ultrices posuere cubilia Curae; Phasellus lacinia non nisl id feugiat.
                        <br>

                        <small><a>Like</a> · <a href="">Reply</a> · 2 hrs</small>

                    </p>
                </div>
            </div>
        </article>
    </div>
</article>
{{/if}}


{{!-- {{#if loggedIn}}
<article class="media">
    <div class="media-content has">
        asdadasd
        <div class="content">
            {{#each questions as |question|}}
            <p>
                <strong>{{user.username}}</strong> <small>{{format_date created_at}}</small>
                <br>
                {{> question-info question}}
            </p>
            <a href="/question/{{id}}">{{answers.length}} {{format_plural "answer" answers.length}}</a>
        </div>
    </div>
    <div class="media-right">
        <button class="delete"></button>
    </div>
    {{/each}}
</article>

<script src="/javascripts/delete.js"></script>
{{/if}}
 --}}